
/**************************
GENERAL
**************************/
html { position: relative; min-height: 100%;}
body {font: 100%/1.4 'Oxygen', Arial,Verdana,sans-serif; padding-bottom: 0; background-color: #fff; color:#000;
   margin-bottom: 160px; /* Margin bottom to match footer height */
}

a, a:active, a:visited {text-decoration: none!important;}	
.blog-post {padding: 20px 0 0px 0;}

/**************************
NAVBAR - LOGO
**************************/
.navbar {padding:0;}
.bg-light {background-color: #fff!important;}
.navbar-logo img {height:70px; width: auto;}

.navbar-dark .navbar-nav .nav-link {padding-left: 10px; padding-right: 10px;}
.nav-link-active {color:#8cc642!important;}
.nav-item a, .nav-item a:visited {color:#6d6d6d; font-size:18px; padding-bottom: 0px; padding-top: 0px;}
.nav-item a:hover {color:#8cc642!important;}

.navbar-expand-lg .navbar-collapse {position: relative; top:30px; margin-bottom: -30px;}
.navbar-expand-lg .navbar-nav .nav-link {padding-left: 30px; padding-right: 30px;}

.btco-hover-menu .dropdown-menu {background:#fff!important;  }
.mr-auto, .mx-auto {margin-left: auto !important; margin-right: inherit !important; position: relative; right: 10px;}
.btco-hover-menu .collapse ul ul {left:15px;}
.btco-hover-menu .collapse ul li {min-height: 34px;}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1.00)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/**************************
NAVBAR - CONTACTS
**************************/
.navbar-contacts {padding: 0 10px;}
.navbar-contacts a {color: rgba(255,255,255,.5); text-decoration: none; padding:0 5px;}
.navbar-contacts a:hover {color: rgba(255,255,255,1);}

/**************************
NAVBAR - SHOP
**************************/
.navbar-shop {padding: 0 10px;}
.navbar-shop a {color: #28a745; text-decoration: none; padding:0 5px;}
.navbar-shop a:hover {color: rgba(255,255,255,1);}

/**************************
HOME PAGE - VIDEO
**************************/
.home-video {background-color: transparent; width:100%; height:auto;}

/**************************
HOME PAGE
**************************/
.home-intro {padding: 20px 0; text-align: center;}
.home-intro h1 {font-size:40px; text-transform: uppercase; padding-bottom: 15px;}
.home-intro h2 {font-size:25px; padding-bottom: 10px; color:#C5182E;}
.marketing {padding-bottom: 30px;}

/**************************
HOME PAGE - NEWS PANEL
**************************/
.home-news {width: 100%; background: #343a40; padding: 40px 0; text-align: center;}
.home-new-img {padding: 10px 0;}
.home-news h2 {color:#fff;}
.home-news p {color:#fff;}

/**************************
HOME PAGE - PROJECTS PANEL
**************************/
.home-projects {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-projects-img {padding: 10px 0;}
.home-projects h2 {color:#fff;}
.home-projects p {color:#fff;}

/**************************
HOME PAGE - PRODUCTS PANEL
**************************/
.home-products {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-products-img {padding: 10px 0;}
.home-products h2 {color:#fff;}
.home-products p {color:#fff;}

/**************************
NAVSIDEBAR
**************************/
.sidebar-module a {color: #9a9da0; text-decoration: none;}
.sidebar-module a:hover {color: #000;}
.navsidebar .active > a {color: #000;}

/* Sub Menu */
.navsidebar-sub {padding-left:10px;}

/**************************
PRODUCTS MODULE
**************************/
.products-row .col-md-4 {padding-top: 15px;}
.products-row {margin-top: 0!important; padding-bottom: 0!important; min-height: 0!important;}
.products-row .col-3 img {width: 100%;}

.products-row-txt {position:relative; top: -60px; margin-bottom: -60px; background: rgba(255,255,255,0.80); padding: 5px; }
.products-row h2 {color:#000; text-transform: uppercase; font-size: 32px; font-weight: 700; margin-bottom: 10px; text-align: center;}
.products-row h3 {color:#999999; text-transform: uppercase; font-size: 18px; letter-spacing: 0px; font-weight: 600; text-align: center;}
.products-row h4 {color:#000; font-size: 18px; font-weight: 600; text-align: center;}

.products-row-a, .products-row-a img,.div-img  {overflow:hidden;}
.products-row-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.products-row-a:hover  {color:#000;  overflow:hidden;   
	opacity:0.6;
}
.products-row-a:hover h3 {color: #fff;}
.products-row-a:hover h4 {color: #fff; }
.products-row-a:hover .products-row-txt {background: rgba(0,0,0,1.00);padding-bottom: 2px!important;} 

.product-item-price {color:#000; font-weight:700; font-size: 18px;}
.product-item-description {padding: 10px 0;}
.product-item-shipping {padding-bottom:20px;}
.product-item-shipping h3 {text-transform: uppercase; font-weight:400; letter-spacing: 3px; font-size: 13px;}

.btn-cart {text-transform: uppercase; background: #99cccc; padding:12px 0px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; width: 100%;}
.btn-cart:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

/**************************
SHOPPING CART
**************************/
.hidden-country {display:none!important; height:0!important;}

.table thead th {border-bottom: 2px solid #99cccc;}
.table td, .table th {border-top: 1px dotted #99cccc;}
.table thead th {letter-spacing: 4px; color:#000; font-size: 18px; border-top: none;}
.table td {color:#000; font-size: 16px; font-weight: 400;}
.table tfoot th {color:#000; font-size: 16px; text-align: right; border-top: 1px solid #99cccc; font-weight: 700;}
.td-center {text-align: center;}
.td-right {text-align: right;}

.btn-cart-remove {color: #99cccc!important; text-decoration: none; font-size: 16px !important; font-weight: 600; letter-spacing: 2px; position: relative; top: -4px; padding: 0; text-transform: lower;}	
.btn-cart-remove i {position: relative; top:1px;}
.btn-cart-remove:hover {color: #000!important; text-decoration: none;}

.btn-cart-shopping {color: #99cccc!important; text-decoration: none; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lower;}	
.btn-cart-shopping:hover {color: #000!important; text-decoration: none;}

.btn-checkout, .btn-checkout:active, .btn-checkout:visited {text-transform: uppercase; background: #99cccc; padding:12px 20px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; border-radius: 0;  border: 1px solid #99cccc;}
.btn-checkout:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

#checkout h3 {color: #99cccc !important; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lowercase;}

.alert-info {
    color: #000;
    background-color: #fff;
    border-color: #99cccc;
    border-radius: 0;
    letter-spacing: 2px;   
    font-weight: 600;
    margin: 0 0px 20px 0px;
}

.alert-error {color:#FB0307}

.form-control-feedback {color: #CC0000; padding: 10px 0px 0px 10px;}

/**************************
FOOTER
**************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px; /* Set the fixed height of the footer here (for sticky footer) */
  background-color: #fff;
	text-align: center;
}

#footer-social {color: #000; width:100%; margin: 0 auto; padding: 10px 0; text-align: center; font-size: 13px;}
#footer-social i {font-size:20px;}
#footer-social a, #footer-txt a:active {color: #000; text-decoration: none; font-size: 13px; line-height: 120%; padding: 0 10px;}
#footer-social a:hover{ color: #C5182E; text-decoration: none;}

#footer-txt {color: #000; width:100%; margin: 0 auto; padding: 10px 0; text-align: center; font-size: 13px;}
#footer-txt a, #footer-txt a:active {color: #000; text-decoration: none; font-size: 13px; line-height: 120%; padding: 0 7px;}
#footer-txt a:hover{ color: #C5182E; text-decoration: none;}

.footerContainer {padding: 40px 0;}

/**************************
PREVIEW BAR
**************************/
.preview {width:100%; height:52px; background-color: #a6dbd7; position:fixed; z-index: 1000; top:0; color:#fff; }
.preview .navbar-logo {height: 54px; width: auto; position: relative; top: -2px;margin-left: 15px}
.preview, .preview a {font-size: 20px; color:#fff; font-weight: 500; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.preview a:hover {color: #000!important;}
.preview a i {padding-top: 15px;}
.preview-return {float:right; margin-right: 30px;}
.preview-return a {font-size:16px; color:#b71319;}
.preview .spacer {padding: 0 10px;}

/**************************
HELPER - SHARING
**************************/
#share {font-size: 11px!important; border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.a2a_menu a {font-size: 13px!important;}
.a2a_menu {background: #e8e8e8!important; }
a.a2a_i, i.a2a_i {border: none!important;}
#share i {font-size: 18px; padding: 0 7px 0 0;}
#share a {padding: 0 7px 0 0;}
.share-space {float: left; padding: 0 70px 0 0; }
.share-space a {color: #444; }
.share-space a:hover {color: #ccc; }

/**************************
HELPER - PAGINATION
**************************/
#pagination {border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.pagination  li {padding: 0 5px; font-size: 16px;}

/**************************
HELPER - BUTTONS
**************************/
.btn-more {width: auto; margin-top: 10px!important; text-align: center;  } /* style used on button tag */
.btn-more a, .btn-more a:active, .btn-more a:visited { }
.btn-more a:hover {}

.btn-back {width:100%; font-size: 11px!important; font-weight: 400;  padding: 20px 0 0 0; }
.btn-back a, .btn-back a:active, .btn-back a:visited {color: #cc0000!important; text-decoration: none;}	
.btn-back a:hover {color: #cccccc!important;}

/**************************
NEWS MODULE
**************************/
.news-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.news-list-item .btn {padding: 2px 20px;}
.news-list-item-txt {float: left;   width: 65%;}
.news-list-item-img {float: right;  width: 35%;}

.news-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.news-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.news-item-img {float: right;  width: 35%; height: auto; padding-top: 20px;  text-align: center; margin: 0;}	
.news-item-img img {width: 100%; max-width: 100%; height: auto;}

/**************************
FAQS MODULE
**************************/
.faqs .accordion-toggle {text-decoration: none!important;}
.faqs .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome\ 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    padding-left:10px;
	font-weight:900
}
.faqs .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

/**************************
DOCUMENTS MODULE
**************************/
.document-wrapper {width:100%; clear:both; border-top: 1px #007bff solid; padding: 10px 10px;}
.document-title {float:left;}
.document-link {float:right;}
.document-link a, .document-link a:active, .document-link a:visited {text-decoration: none;}	
.document-details {width:100%; clear:both; padding-bottom: 5px; }

/**************************
GALLERY MODULE
**************************/
.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

/**************************
PROJECTS MODULE
**************************/
.project-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.project-list-item .btn {padding: 2px 20px;}
.project-list-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-list-item-img {float: right; text-align: center;margin: 0 0 20px 0;}	
.project-list-item-img img {width: 100%; max-width: 100%; height: auto;}

.project-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.project-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-item-img {float: right;  width: 35%; height: auto; text-align: center;}	
.project-item-img img {width: 100%; max-width: 100%; height: auto; } 

.project-block.cards-project .card{
  transition: 0.4s ease; 
}

.project-block.cards-project .card img {}

@media (min-width: 576px) {
	.project-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);	   
	}
}


.team-block.cards-team .card{
    transition: 0.4s ease;
}

.team-block.cards-team .card img {}

@media (min-width: 576px) {
    .team-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
    }
}

/**************************
RESPONSIVE
**************************/
@media only screen and  (max-width: 768px) {
    .container .row {width: 100%; padding: 0px; min-height: 50px; display: -webkit-flex;display: -webkit-box;  flex-direction: column; -webkit-flex-direction: column;}		
	
	.blog-sidebar  {width: 100%; padding: 0 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 2; order: 2; }			
	.blog-main { width: 100%; padding: 20px 10px 10px 10px; margin: 0; background: none; border: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%;}	
}